@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,900;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: roboto;
}
.container {
    width: 100vw;
    display: contents;
}
.row {
    display: flex;
    align-items: center;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h6{
    font-size: 30px;
}
.shap-box{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
h2 {
    font-size: 71px;
    font-family: 'Roboto';
    line-height: 1.5;
    font-weight: 500;
}
span {
    color: #f33982;
}
.part-1 {
    width: 50%;
    float: left;
    padding-left: 187px;
}

.part-2 {
    float: right;
    width: 50%;
}

p#my-des {
    font-size: 22px;
    text-align: justify;
    padding-right: 39px;
    color: #646464;
    line-height: 1.5;
}
button{
    padding: 12px 20px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 800;
    background: linear-gradient(45deg, #ffa07a, #ff6347);
    border: none;
    color: white;
    margin: 18px 0px;
    text-transform: uppercase;
}

.half{
    width: 50%;
}
.image-host {
    width: 644px;
    padding-left: 140px;
}

.image-host img {
    width: 100%;
}
.dream-text p {
    font-size: 22px;
    text-align: justify;
    line-height: 1.5;
}

.dream-text {
    padding: 48px;
    font-family: sans-serif;
}

.dream-text h6 {
    line-height: 2.5;
}
.experience-iteam {
    display: flex;
    margin-bottom: 27px;
}
.half h3 {
    font-size: 27px;
    font-family: sans-serif;
    line-height: 1.5;
}
.box-iteam {
    margin: 31px 91px;
    box-shadow: 6px 3px 12px 12px #dddd;
    padding: 55px;
}

.half.box-iteam span {
    font-size: 24px;
    line-height: 2;
}

.half.box-iteam p {
    font-size: 22px;
    line-height: 1.5;
}